rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Users can read and write their own data
    match /users/{userId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Organizations can be read by members, created by any user, and updated by owners
    match /organizations/{orgId} {
      allow read: if request.auth != null && (
        resource.data.members[request.auth.uid] != null ||
        resource.data.ownerId == request.auth.uid
      );
      allow create: if request.auth != null;
      allow update: if request.auth != null && resource.data.ownerId == request.auth.uid;
    }
    
    // Teams can be read and updated by organization members
    match /teams/{teamId} {
      allow read: if request.auth != null && get(/databases/$(database)/documents/organizations/$(resource.data.workspaceId)).data.members[request.auth.uid] != null;
      allow write: if request.auth != null && get(/databases/$(database)/documents/organizations/$(resource.data.workspaceId)).data.ownerId == request.auth.uid;
    }
    
    // Videos can be read by team members and written by their owners
    match /videos/{videoId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == request.resource.data.userId;
    }
  }
}