@import url('https://fonts.googleapis.com/css2?family=Karma:wght@300;400;500;600;700&family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer base {
  html {
    @apply antialiased;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-karma;
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded-md font-medium;
  }

  .btn-primary {
    @apply bg-notion-blue hover:bg-notion-blue-dark text-white transition-colors;
  }

  .btn-secondary {
    @apply bg-notion-blue-light hover:bg-notion-blue/10 text-notion-blue transition-colors;
  }
} 